<h4>Step 1: Choose your Model and Color</h4>

<div class="form">
    <div>
        <label>Model</label>
        <select [formControl]="selectedModel" id="modelSelect">
            <option value="default">Select a model</option>
            <ng-container *ngFor="let model of models$ | async">
                <option [value]="model.code">Model {{model.code}}</option>
            </ng-container>
        </select> 
    </div>
    <div *ngIf="selectedModel$ | async">
    <label>Color</label>
    <select [formControl]="selectedColor" id="colorSelect">
            <option value="default">Select a color</option>
        <ng-container *ngFor="let color of colors">
            <option [value]="color.code">{{color.description}}</option>
        </ng-container>
    </select>  
    </div>
</div>

<div *ngIf="selectedImageUrl$ | async as imageUrl">
    <img [src]="imageUrl" alt="">
</div>

<!-- <pre *ngIf="selectedModel$|async as model">{{model|json}}</pre> -->
<pre *ngIf="colors$|async as colors">{{colors|json}}</pre>
<pre *ngIf="selectedColor$|async as color1">{{color1|json}}</pre>