<h2>Step 1: Choose your Model and Color</h2>

<div class="form">
    <div>
        <label>Model</label>
        <select [formControl]="selectedModelControl" id="modelSelect"> 
            <ng-container *ngIf="!formWasChanged">
                <option value="default">Select a model</option>
            </ng-container>
            <ng-container *ngFor="let model of models$ | async">
                <option [value]="model.code">Model {{model.code}}</option>
            </ng-container>
        </select> 
    </div>
    
    <div *ngIf="selectedModel$|async">
    <label>Color</label>
    <select [formControl]="selectedColorControl" id="colorSelect">
        <ng-container *ngFor="let color of colors">
            <option [value]="color.code">{{color.description}}</option>
        </ng-container>
    </select>  
    </div>
</div>

<div *ngIf="selectedImageUrl$ | async as imageUrl">
    <img [src]="imageUrl" alt="" width="800px" [style.padding-top.px]="20">
</div>


<!-- <pre *ngIf="selectedModel$|async as model">{{model|json}}</pre> 
<pre *ngIf="colors$|async as colors">{{colors|json}}</pre>
<pre *ngIf="selectedColor$|async as color1">{{color1|json}}</pre> -->